.lang-nav {

    @extend %generic-mobile-nav;

    .lang-nav-trigger {
        @extend %generic-trigger;
    }

    .lang-icon {

        color: $link-color;

        &:hover {

            cursor: pointer;
            color: $text-color;

        }

    }

    label[for="lang-nav-trigger"] {
        @extend %generic-nav-button;
    }

    input ~ .trigger-lang {
        @extend %generic-nav-input;
    }

    input:checked ~ .trigger-lang {
        @extend %generic-menu-content;
    }

    .lang-link {

        @extend %generic-menu-entry-link;

        color: $link-color;
        font-weight: bold;

        &:hover {

            color: $link-hover-color;
            text-decoration: none;

        }

    }

    .lang-link-selected {

        color: $text-color;

        &:hover {

            color: $text-color;
            text-decoration: none;

        }

    }

    @include media-query($on-laptop) {

        right: $spacing-unit * 1.5;

        .lang-icon {
            color: $text-color;
        }

    }

}