.site-nav {

    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;

    .nav-trigger {
        @extend %generic-trigger;
    }

    .menu-icon {
        display: none;
    }

    .page-link {

        color: $link-color;
        font-weight: bold;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {

            color: $link-hover-color;
            text-decoration: none;

        }

    }

    .page-link-selected {

        color: $text-color;

        &:hover {

            color: $text-color;
            text-decoration: none;

        }

    }

    @include media-query($on-laptop) {

        @include generic-mobile-nav;

        label[for="nav-trigger"] {
            @include generic-nav-button;
        }

        .menu-icon {

            display: block;

            color: $text-color;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }

        }

        input ~ .trigger {
            @include generic-nav-input;
        }

        input:checked ~ .trigger {
            @include generic-menu-content;
        }

        .page-link {
            @include generic-menu-entry-link;
        }

    }

}