{%- if site.lang == "en" -%}
  {%- assign date_format = "%B %-d, %Y" -%}
{%- elsif site.lang != "pt" -%}
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- endif -%}

{%- if site.lang == "pt" -%}
  {%- assign m = include.date | date: "%-m" -%}
  {{ include.date | date: "%-d de " }}{% case m %}{% when '1' %}Janeiro{% when '2' %}Fevereiro{% when '3' %}Mar&ccedil;o{% when '4' %}Abril{% when '5' %}Maio{% when '6' %}Junho{% when '7' %}Julho{% when '8' %}Agosto{% when '9' %}Setembro{% when '10' %}Outubro{% when '11' %}Novembro{% when '12' %}Dezembro{% endcase %}{{ include.date | date: " de %Y" }}
{%- else -%}
  {{ include.date | date: date_format }}
{%- endif -%}