{% assign paginator=include.paginator %}

{% if paginator.total_pages > 1 %}

  <ul class="pagination-list">

    {% if paginator.previous_page %}

      <li>
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | remove: 'index.html'}}">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
      </li>

    {% endif %}

    {% if paginator.page_trail %}

      {% for trail in paginator.page_trail %}

        <li>
          <a {% if page.url == trail.path %}class="selected-page"
            {% else %}href="{{ trail.path | prepend: site.baseurl | remove: 'index.html'}}" title="{{trail.title}}"
            {% endif %}>{{ trail.num }}</a>
        </li>

      {% endfor %}

    {% endif %}

    {% if paginator.next_page %}

      <li>
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | remove: 'index.html'}}"><i class="fa fa-arrow-right"
            aria-hidden="true"></i></a>
      </li>

    {% endif %}

  </ul>

{% endif %}