{%- assign project = include.project -%}

{%- if project.status == "active" -%}
  <div title="{%- t string.project-in-active-dev -%}" class="badge badge-green">{%- t string.active -%}</div>
{%- elsif project.status == "paused" -%}
  <div title="{%- t string.project-paused-dev -%}" class="badge badge-orange">{%- t string.paused -%}</div>
{%- endif -%}

{%- if project.needs-help -%}
  <div title="{%- t string.project-needs-help -%}" class="badge badge-blue">{%- t string.needs-help -%}</div>
{%- endif -%}