  <!-- Start SEO -->
  <title>{% t page.title %} | {{ site.title }}</title>
  <meta property="og:title" content="{% t page.title %}" />
  <meta name="author" content="{{ site.author }}" />
  <meta property="og:locate" content="{{ site.lang }}" />
  <meta name="description" content="{% t site.description %}" />
  <meta property="og:description" content="{% t site.description %}" />
  <link rel="canonical" href="{{  }}" />
  <meta property="og:url" content="{{  }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta name="twitter:card" content="{{ site.twitter.card }}" />
  <meta property="twitter:title" content="{% t page.title %}" />
  <meta name="twitter:site" content="{{ site.twitter.username }}" />
  <meta name="twitter:creator" content="{{  }}" />
  <!-- application/jd+json -->
  <!-- Finish SEO -->