<!-- Start SEO -->
<title>LABB</title>
<meta name="description" content="Blog & portfolio" />
<meta name="author" content="{{ site.author }}" />
<link rel="canonical" href="{{ site.url }}{%- tl page.namespace -%}">

<meta property="og:title" content="LABB" />
<meta property="og:description" content="Blog & portfolio" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url|remove:'index.html' }}" />
<meta property="og:image" content="{{ site.url }}/assets/img/pages/default-en.png" />
<meta property="og:site_name" content="{{ site.title }}" />

<!-- application/jd+json -->
<!-- Finish SEO -->