  
  <!-- Start post SEO -->
  <title>{{ page.title }}</title>
  <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url|remove:'index.html' }}">
  
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url|remove:'index.html' }}" />
  <meta property="og:locale" content="{{ site.lang }}_{%- t site.territory -%}" />
  <meta property="og:image" content="{% if page.img %}{{ site.url }}/assets/img/posts/{{ page.img }}{% else %}{{ site.url }}/assets/img/posts/default.jpg{% endif %}" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <meta property="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:card" content="{% if page.twitter_card %}{{ page.twitter_card }}{% else %}{{ site.data.social.twitter.defaultcard }}{% endif %}" />
  <meta name="twitter:site" content="{{ site.data.social.twitter.username }}" />
  <meta name="twitter:creator" content="{% if page.author_twitter %}{{ page.author_twitter }}{% elsif page.author == nil %}{{ site.data.social.twitter.username }}{% endif %}" />
  <!-- application/jd+json -->
  <!-- Finish post SEO -->
