
<!-- Start all posts SEO -->
<title>{% t pages.posts.title %} ({% t string.page %} {{ paginator.page }} {% t string.of %} {{ paginator.total_pages }}) | {{ site.title }}</title>
<meta name="description" content="{% t page.description %}" />
<meta name="author" content="{{ site.author }}" />
<link rel="canonical" href="{{ site.url }}{%- tl page.namespace -%}">

<meta property="og:title" content="{% t pages.posts.title %} ({% t string.page %} {{ paginator.page }} {% t string.of %} {{ paginator.total_pages }})" />
<meta property="og:description" content="{% t page.description %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{%- tl page.namespace -%}" />
<meta property="og:locale" content="{{ site.lang }}_{%- t website.territory -%}" />
<meta property="og:image" content="{% if page.img %}{{ site.url }}/assets/img/pages/{% t page.img %}{% else %}{{ site.url }}/assets/img/pages/{%- translate pages.default-img -%}{% endif %}" />
<meta property="og:site_name" content="{% t home.title %}" />

<meta property="twitter:title" content="{% t pages.posts.title %} ({% t string.page %} {{ paginator.page }} {% t string.of %} {{ paginator.total_pages }})" />
<meta name="twitter:card" content="{% if page.twitter_card %}{{ page.twitter_card }}{% else %}{{ site.data.social.twitter.defaultcard }}{% endif %}" />

<script type="application/ld+json">

    {

        "@context": "http://schema.org/",
        "@type": "CollectionPage",
        "name": "{% t pages.posts.title %} ({% t string.page %} {{ paginator.page }} {% t string.of %} {{ paginator.total_pages }})",
        "image": "{% if page.img %}{{ site.url }}/assets/img/pages/{% t page.img %}{% else %}{{ site.url }}/assets/img/pages/{%- translate pages.default-img -%}{% endif %}",
        "description": "{% t page.description %}",
        "url": "{{ site.url }}{%- tl page.namespace -%}",
        "author": "{{ site.author }}",
        "license": "{% t website.license %}",

        "inLanguage": {

            "@type": "Language",
            "name": "{% t website.language.name %}"
            "alternateName": "{% t website.language.alternateName %}"

        }

    }

</script>

<!-- Finish all posts SEO -->
