  <!-- Start post SEO -->
  <title>{{ post.title }}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta property="og:locate" content="{{ site.lang }}" />
  <meta name="description" content="{{ page.excerpt }}" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <meta property="og:image" content="{{ site.url }}/assets/img/posts/{{ page.img }}" />
  <meta property="og:type" content="article" />
  <link rel="canonical" href="{{ site.url }}{{ page.url|remove:'index.html' }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url|remove:'index.html' }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta name="twitter:card" content="{{ site.twitter.card }}" />
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:site" content="{{ site.twitter.username }}" />
  <meta name="twitter:creator" content="{{ site.twitter.username }}" />
  <!-- application/jd+json -->
  <!-- Finish post SEO -->