@import "_vars";
@import "base";
@import "layout";
@import "syntax-highlighting";

$fa-font-path: "../fa-webfonts";
@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/solid.scss";
@import "./fontawesome/brands.scss";

/* body,
.site-title {
    color: white;
    background-color: black;
}

a, 
.site-nav .page-link {
    color: $main-color;
}

a:hover,
.social-media-list a:hover .username {
    color: $main-color-light;
    text-decoration: none;
}

.site-nav .page-link {
    font-weight: bold;
}

.site-nav a:hover {
    color: $main-color-light;
}

.site-header {
    border-top: 5px solid $main-color;
    border-bottom: 1px solid black;
}

.site-footer {
    border-top: 1px solid black;
}

.social-media-list li {
    display: inline;
} */