/*
** Portfolio
*/

.project-title {
    margin-bottom: 5px;
}

.project-badges {

    display: flex;
    flex-direction: row;
    margin-bottom: $spacing-unit / 2;

}

.clickable-div {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
    background-image: url('../img/empty.gif');

}

.project-card-pinned {

    @include media-query($on-card) {

        margin-right: $spacing-unit / 6;
        margin-bottom: $spacing-unit / 6;
        width: 47.5%;
        height: 60px;

    }

    position: relative;
    text-align: center;

    font-weight: bold;

    a {
        color: black;
    }

    a:hover {
        color: white;
    }

    .project-card-pinned-content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    display: inline-block;
    margin-right: $spacing-unit / 6;
    margin-bottom: $spacing-unit / 6;
    height: 60px;
    width: 175px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: $small-font-size;

    &:last-child {
        margin-right: 0;
    }

}

.project-card {

    @include media-query($on-card) {

        margin-right: $spacing-unit / 6;
        margin-bottom: $spacing-unit / 6;
        width: 47.5%;

    }

    position: relative;
    text-align: center;

    font-weight: bold;

    a {
        color: black;
    }

    a:hover {
        color: white;
    }

    .project-card-content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    display: inline-block;
    margin-right: $spacing-unit / 6;
    margin-bottom: $spacing-unit / 6;
    height: 220px;
    width: 175px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: $small-font-size;

    &:last-child {
        margin-right: 0;
    }

}

.badge {

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 30px;
    border-radius: 5px;

    padding: 0 8px;
    margin-right: 8px;

    .badge-text {

        font-family: monospace;
        font-size: 15px;

    }

}

.badge-green {
    background-color: green;
}

.badge-red {
    background-color: darken(red, 15%);
}

.badge-blue {
    background-color: #0066cc;
}

.badge-orange {
    background-color: #cc7a00;
}

.badge-link {

    cursor: pointer;

    &:hover {
        font-weight: bold;
    }

}