/*
** Portfolio
*/

.clickable-div {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    z-index: 1;
    background-image: url('../img/empty.gif');

}

.project-card-pinned {

    @include media-query($on-card) {

        margin-right: $spacing-unit / 6;
        margin-bottom: $spacing-unit / 6;
        width: 47.5%;
        height: 60px;

    }

    position: relative;
    text-align: center;

    font-weight: bold;

    a {
        color: black;
    }

    a:hover {
        color: white;
    }

    .project-card-pinned-content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    display: inline-block;
    margin-right: $spacing-unit / 6;
    margin-bottom: $spacing-unit / 6;
    height: 60px;
    width: 175px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: $small-font-size;

    &:last-child {
        margin-right: 0;
    }

}

.project-card {

    @include media-query($on-card) {

        margin-right: $spacing-unit / 6;
        margin-bottom: $spacing-unit / 6;
        width: 47.5%;

    }

    position: relative;
    text-align: center;

    font-weight: bold;

    a {
        color: black;
    }

    a:hover {
        color: white;
    }

    .project-card-content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    display: inline-block;
    margin-right: $spacing-unit / 6;
    margin-bottom: $spacing-unit / 6;
    height: 220px;
    width: 175px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: $small-font-size;

    &:last-child {
        margin-right: 0;
    }

}

.badge {



}