/*
** Posts
*/

.post-header {
    @extend %generic-header;
}

.post-title {

    @include relative-font-size(2.625);
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        @include relative-font-size(2.25);
    }

}

.post-category, .post-tags {

    color: $grey-color-light;
    font-size: $base-font-size * 1.5;

}

.post-tags {

    @extend %generic-badges;

    .prefix {
        margin-right: 8px;
    }

    .badge {
        position: relative;
    }

    a {
        color: $grey-color-light;
    }

    a:hover {
        color: white;
    }

}

.post-content {
    @extend %generic-content;
}

.post-meta {

    font-size: $small-font-size;
    color: $grey-color-light;

}

.post-link {

    display: block;
    @include relative-font-size(1.5);

}

/*
** Post Lists
*/

.post-list-heading {
    @include relative-font-size(1.75);
}

.post-list {

    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }

}

.post-list-subtitle {
    color: $grey-color-light;
}

.post-hr {

    color: $grey-color-dark;
    margin-top: $spacing-unit / 3;
    margin-bottom: $spacing-unit;

}