---
layout: default
---

{%- if site.posts.size > 0 -%}

  <div class="page-header">

    <h1 class="page-title">

      {% if page.type == "tag" %}
        {%- t string.posts-with-category -%}
      {% elsif page.type == "category" %}
        {%- t string.posts-with-category -%}
      {% endif %} “{{ page.title }}”

    </h1>

  </div>

  <div class="page-content">

    <p class="page-desc">{% t string.recently-published-posts %}</p>

    <ul class="post-list">

      {%- for post in page.posts -%}

        <li>

          <span class="post-meta">
            {%- include date.html date=post.date -%}
          </span>

          <h3>

            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>

          </h3>

          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}

        </li>

      {%- endfor -%}

    </ul>

  </div>

{%- else -%}

  <center>

    <h1>{%- t string.empty-notice-title -%}</h1>
    <h2>🍃</h2>

    <p>{%- t string.empty-notice-content -%}</p>

  </center>

{%- endif -%}