---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- if site.lang == "en" -%}
          {%- assign date_format = "%B %-d, %Y" -%}
        {%- elsif site.lang != "pt" -%}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- endif -%}
        <span class="post-meta">
        {%- if site.lang == "pt" -%}
          {%- assign m = post.date | date: "%-m" -%}
          {{ post.date | date: "%-d de " }}{% case m %}{% when '1' %}Janeiro{% when '2' %}Fevereiro{% when '3' %}Mar&ccedil;o{% when '4' %}Abril{% when '5' %}Maio{% when '6' %}Junho{% when '7' %}Julho{% when '8' %}Agosto{% when '9' %}Setembro{% when '10' %}Outubro{% when '11' %}Novembro{% when '12' %}Dezembro{% endcase %}{{ post.date | date: " de %Y" }}
        {%- else -%}
          {{ post.date | date: date_format }}
        {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">{% translate string.subscribe %} <a href="{{ "/feed.xml" | relative_url }}">{% translate string.subscribe-rss %}</a></p>
  {%- else -%}
    <center>
      <h1>{%- translate string.empty-notice-title -%}</h1>
      <h2>🍃</h2>
      <p>{%- translate string.empty-notice-content -%}</p>
    </center>
  {%- endif -%}

</div>
