---
layout: default
---

{%- if site.posts.size > 0 -%}

  <div class="page-header">
    <h1 class="page-title">
      {% t pages.posts.title %}
    </h1>
    {%- if paginator.total_pages > 1 -%}

      {%- capture page_string -%}
        {%- t string.page -%}
      {%- endcapture -%}

      <h2 class="post-list-subtitle">{{ page_string | capitalize }} {{ paginator.page }} {% t string.of %} {{ paginator.total_pages }}</h2>

    {%- endif -%}
  </div>

  <div class="page-content">

    {%- if page.description and page.output-desc -%}
      <p class="page-desc">{% t page.description %}</p>
    {%- endif -%}

    <ul class="post-list">

      {%- for post in paginator.posts -%}

        <li>

          <span class="post-meta">
            {%- include date.html date=post.date -%}
          </span>

          <h3>

            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>

          </h3>

          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}

        </li>

      {%- endfor -%}

    </ul>

  </div>

  {%- include pagination-nav.html paginator=paginator -%}

{%- else -%}

  <center>

    <h1>{%- t string.empty-notice-title -%}</h1>
    <h2>🍃</h2>

    <p>{%- t string.empty-notice-content -%}</p>

  </center>

{%- endif -%}