---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- include date.html date=page.date -%}
      </time>
      {%- if page.last-update -%}
      &nbsp;• {% translate string.last-updated %}:
      <time class="dt-modified" datetime="{{ page.last-update | date_to_xmlschema }}" itemprop="dateModified">
        {%- include date.html date=page.last-update -%}
      </time>
      {%- endif -%}
      {%- if page.author -%}
        &nbsp;• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr class="post-hr" />
  <h3>{%- translate string.post-licensed-under-notice -%} <a rel="license" href="{{ page.license-link }}">{{ page.license-name }}</a>.</h3>

  {%- if page.fedi-post-url -%}
    <h1>{%- translate string.join-the-discussion-notice -%}&nbsp;{%- translate string.comment-notice -%} <a href="{{ page.fedi-post-url }}">{%- translate string.comment-notice-link -%}</a>.</h1>
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

