---
layout: default
---

{%- if site.posts.size > 0 -%}

  <h1 class="post-header post-title">
    {% t pages.posts.title %} ({% t string.page %} {{ paginator.page }} {% t string.of %} {{ paginator.total_pages }})
  </h1>

  <p class="page-desc">{%- t pages.posts.desc -%}</p>

  <ul class="post-list">

    {%- for post in paginator.posts -%}

      <li>

        <span class="post-meta">
          {%- include date.html date=post.date -%}
        </span>

        <h3>

          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>

        </h3>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

      </li>

    {%- endfor -%}

  </ul>

  {%- include pagination-nav.html paginator=paginator -%}

{%- else -%}

  <center>

    <h1>{%- t string.empty-notice-title -%}</h1>
    <h2>🍃</h2>

    <p>{%- t string.empty-notice-content -%}</p>

  </center>

{%- endif -%}