---
layout: default
---

<div itemscope itemtype="{%- include project-schema.html type=page.type -%}">

  <div class="page-header">

    <h1 itemprop="name" class="page-title project-title">
      {% t page.title %}
    </h1>

    <div class="project-badges">
      {%- include project-badges.html project=page -%}
    </div>

    <div class="project-icons">
      {%- include project-icons.html project=page -%}
    </div>

  </div>

  <div class="page-content">

    <table>

      <tr>
        <td><strong>{%- translate string.started-in -%}</strong></td>
        <td itemprop="dateCreated">
          {%- include date.html date=page.start-date -%}
        </td>
      </tr>

      {%- if page.launch-date -%}
        <tr>
          <td><strong>{%- translate string.launched-in -%}</strong></td>
          <td itemprop="datePublished">
            {%- include date.html date=page.launch-date -%}
          </td>
        </tr>
      {%- endif -%}

      {%- if page.founders -%}
        <tr>
          <td><strong>{%- translate string.founded-by -%}</strong></td>
          <td>
            {%- if page.founders.size == 1 -%}
              {{ page.founders[0] }}
            {%- else -%}
              {%- for founder in page.founders -%}
                {%- if forloop.last == true -%}
                  {%- translate string.and -%}{{ founder }}
                {%- else -%}
                  {{ founder | append: ", " }}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </td>
        </tr>
      {%- endif -%}

      {%- if page.license-name -%}
        <tr>
          <td><strong>{%- translate string.license -%}</strong></td>
          <td>
            {%- if page.license-url -%}
              <a href="{{ page.license-url }}">{%- translate page.license-name -%}</a>
            {%- else -%}
              {%- translate page.license-name -%}
            {%- endif -%}
            {%- if page.license-hybrid -%}
              *
            {%- endif -%}
          </td>
        </tr>
      {%- endif -%}

    </table>

    {%- for tag in site.tags -%}

      {%- if tag[0] == page.unique-name -%}

        <h2>{%- translate string.related-posts-title -%}</h2>

        <ul>

          {%- assign related_posts = tag[1] | sort: "date", "last" -%}

          {%- for post in related_posts limit:page.related-posts-limit -%}
            <li><a href="post.url">{{ post.title }}</a>, {% translate string.published-in %} {% include date.html date=post.date %}.</li>
          {%- endfor -%}

        </ul>

        {%- if related_posts.size > page.related-posts-limit -%}
          <a title="{%- translate string.related-posts-see-more -%}" href="{%- if site.lang != 'en' -%}/{{ site.lang }}{%- endif -%}/posts/tags/{{ page.unique-name }}">{%- translate string.see-older-posts -%}</a>
        {%- endif -%}

      {%- endif -%}

    {%- endfor -%}

    {{ content }}
  </div>

</div>
